# Configuration file

~CONFIG_VERSION: 0.1.0

world-1076155754 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1205751180 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1369488837 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=basal
    B:overlayEnabled=true
}


world-1429650382 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1431591077 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@unlimi
    B:overlayEnabled=true
}


world-1539968318 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=hammer
    B:overlayEnabled=true
}


world-429770808 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@torc
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=dark

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1457374777 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@modular
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@scannab
    B:overlayEnabled=true
}


world377823641 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@scan
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=euca
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=abyssa
    B:overlayEnabled=true
}


world998910044 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world998910045 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


