# Configuration file

enabled {
    B:"abyssalcraft:abybrick"=true
    B:"abyssalcraft:abydreadbrick"=true
    B:"abyssalcraft:cobblestone"=true
    B:"abyssalcraft:cstonebrick"=true
    B:"abyssalcraft:darkstone_brick"=true
    B:"abyssalcraft:dltplank"=true
    B:"abyssalcraft:dreadbrick"=true
    B:"abyssalcraft:dreadlandsdirt"=true
    B:"abyssalcraft:ethaxiumbrick"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"extratrees:planks.0"=true
    B:"extratrees:planks.1"=true
    B:"extratrees:planks.2"=true
    B:"extratrees:planks.fireproof.0"=false
    B:"extratrees:planks.fireproof.1"=false
    B:"extratrees:planks.fireproof.2"=false
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=false
    B:"forestry:planks.fireproof.1"=false
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"quark:biotite_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"roots:runestone_brick"=true
    B:"rustic:painted_wood_black"=false
    B:"rustic:painted_wood_blue"=false
    B:"rustic:painted_wood_brown"=false
    B:"rustic:painted_wood_cyan"=false
    B:"rustic:painted_wood_gray"=false
    B:"rustic:painted_wood_green"=false
    B:"rustic:painted_wood_light_blue"=false
    B:"rustic:painted_wood_lime"=false
    B:"rustic:painted_wood_magenta"=false
    B:"rustic:painted_wood_orange"=false
    B:"rustic:painted_wood_pink"=false
    B:"rustic:painted_wood_purple"=false
    B:"rustic:painted_wood_red"=false
    B:"rustic:painted_wood_silver"=false
    B:"rustic:painted_wood_white"=false
    B:"rustic:painted_wood_yellow"=false
    B:"rustic:planks"=true
    B:"rustic:slate_brick"=true
    B:"traverse:blue_rock_bricks"=true
    B:"traverse:blue_rock_cobblestone"=true
    B:"traverse:fir_planks"=true
    B:"traverse:red_rock_bricks"=true
    B:"traverse:red_rock_cobblestone"=true
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


